.inicio {
  background-image: url("TourslandBannerSobreNosotros.webp");
  background-size: cover;
  background-position: center;
  padding: 10rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experiencia {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
}

.experiencia1 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
  width: 50%;
}

.experiencia1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experiencia2 {
  background-color: #ffd400;
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
  padding: 5% 10%;
  width: 50%;
}

/*------------------------------------------*/
.valores-profesionales {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.valores {
  width: 50%;
  background-color: #f7f7f7;
  padding: 5% 10%;
}

.profesionales {
  width: 50%;
  background-color: #00aff1;
  padding: 5% 10%;
}

/*-------------------------------------------*/
.mision-vision {
  display: flex;
  justify-content: space-between;
  background-image: url(fondo-nosotros-mapa.webp);
  background-size: cover;
  background-position: center;
  padding: 10rem 2rem;
}

.mision {
  width: 50%;
  text-align: center;
}

.vision {
  width: 50%;
  text-align: center;
}

/*Nuestro Equipo*/
.nuestro-equipo {
  padding-left: 25%;
  padding-right: 25%;
}

.card {
  background: white;
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 4px 6px */
  width: 18.75rem; /* 300px */
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 12.5rem; /* 200px */
  object-fit: cover;
}

.card-content {
  padding: 0.9375rem; /* 15px */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .experiencia,
  .mision-vision {
    flex-direction: column;
    padding: 5rem 1rem;
  }
  .experiencia1,
  .experiencia2,
  .mision,
  .vision {
    width: 100%;
  }
  .nuestro-equipo {
    padding-left: 5%;
    padding-right: 5%;
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .inicio {
    padding: 6rem 1rem;
  }
  .experiencia,
  .mision-vision {
    padding: 4rem 0.5rem;
  }
  .card {
    width: 100%;
  }
}
