.Grupalesheader {
  background-image: url("./Grupales.webp");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 10rem 2rem;
}

.travel-cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
  background-color: #f9f9f9;
}

.travel-card {
  margin: 1rem 5rem;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.image-container {
  position: relative;
  width: 100%;
}

.travel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.highlight {
  position: absolute;
  top: 3%;
  left: -3%;
  background-color: #467be7;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: -31%;
  left: 6%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-top: 0.8rem solid #233e74;
}

.card-details {
  padding: 15px;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.duration,
.location {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.price-container {
  padding: 15px;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 0.1rem solid #e1e1e1;
  text-align: center;
}

.price-label {
  font-size: 12px;
  color: #888;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin: 10px 0;
}

.details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.details-button:hover {
  background-color: #0056b3;
}
