.amo-brand {
  opacity: 0 !important;
  display: none;
}

span.styles_copyright__25N_x,
.styles_footer__2sTqH {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none;
}
