/* Carousel Container */
.cards-carousel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* Swiper */
.swiper {
  width: 100%;
}

.swiper-wrapper {
  margin: 1rem 1rem;
}

/* Cards Wrapper */
.cards-wrapper {
  display: flex;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  color: #5380f7;
  transition: background 0.3s ease;
  cursor: pointer;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #4369c7;
}

.swiper-button-next {
  grid-column: 3;
}

.swiper-button-prev {
  grid-column: 1;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  color: white;
  background: #5380f7;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.arrow:hover {
  background: #4369c7;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
