/* Estilos base del footer */
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  padding: 2%;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url("fondo-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 4%;
  height: 97vh;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-section h3 {
  color: #00aff1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section ul li {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.footer-secure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.footer-secure img {
  width: 30%;
  max-width: 6rem;
  margin-top: 1rem;
}

span img {
  width: 1rem;
  height: auto;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Media query para pantallas menores o iguales a 776px */
@media (max-width: 776px) {
  .footer-section h3 {
    font-size: 1.3rem;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 0.9rem;
  }

  .footer-secure img {
    width: 40%;
  }

  span img {
    width: 1rem;
  }
}

/* Media query adicional para pantallas menores o iguales a 684px */
@media (max-width: 684px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7;
  }

  .footer-section h3 {
    font-size: 1.3rem;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 0.9rem;
  }

  .footer-secure img {
    width: 40%;
  }

  span img {
    width: 0.8rem;
  }
}
