.PortadaBlog {     /*Portada TourStories*/
  align-items: center;
  justify-content: center;
  background-image: url(Toursland-Wensite-BannerBlog.webp);
  display: flex;
  /*height: 22em;*/
  padding: 9rem 2rem;
  background-position: center;
  background-size: cover;
  font-size: 30px;
  color: white;
}

.experienciablog {    
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.experienciablog1 {     /*Lado Izquierdo*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  padding: 3em 3em;
}

.experienciablog1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.barra-busqueda-blog-container {    /*Barra de busqueda*/
  background-color: #00a9e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 1rem 5%;
}

.barra-busqueda-blog {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.input-busqueda-blog {
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon-button {
  background: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon-button i {
  font-size: 16px;
  color: #00a9e0;
}

.boton-busqueda-blog {
  background: #ffd700;
  padding: 10px 2px;
  width: 40%;
  border: none;
  border-radius: 25px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.ConoceTourStories{    /*Apartado Conoce Tours Stories*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem 0;
}

.ConoceTourStories h2{
  font-weight: bold;
  padding-bottom: 1rem;
}

.PostsRec h2{    /*Apartado Ports recientes*/
  font-weight: bold;
}

.experienciablog2 {     /*Parte del Centro*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 5rem;
  width: 50%;
}

.cardBlog {     /*Blogs*/
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  width: 90%;
}

.cardBlog a {
  text-decoration: none
}

.contentBlog {   
  padding: 1.1rem;
}

.imagenBlog {   /*Imagen destacada del Blog*/
  object-fit: cover;
  width: 100%;
  height: 20rem;
  background-color: rgb(239, 205, 255);
  display: flex;
}

.imagenBlog img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.titleBlog {    /*Titulo del Blog*/
  color: #111827;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.descBlog {    /*Descripcion del Blog*/
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actionBlog {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.actionBlog span {
  transition: .3s ease;
}

.actionBlog:hover span {
  transform: translateX(4px);
}


.experienciablog3 {     /*Lado Derecho*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 5rem;
  width: 25%;
}

.Canal-Whats{    /*Apartado del Canal de Whats*/
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 25rem;
  height: 22rem;
}

.Img-Canal-Whats{
  display: flex;
  background-color: #1cb0e6;
  width: 40%;
}

.Img-Canal-Whats img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Unete-Canal{
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #1cb0e6;
  width: 60%;
  padding-top: 1rem;
}

.Unete-Canal h3{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.Unete-Canal h2{
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 1rem;
}

.Unete-Canal img{
  display: flex;
  height: 15%;
  width: 100%;
  margin-bottom: 2rem;
}

.Boton-Canal{
  background: #ffd700;
  padding: 10px 2px;
  width: 40%;
  border: none;
  border-radius: 25px;
  color: #1cb0e6;
  font-weight: bold;
  cursor: pointer;
}

.Boton-Canal:hover{
  color: white;
}

.LogoToursLandCanal{
  height: 40rem;
  width:100%;
}
