.PortadaExpertos {
  /*Portada*/
  text-align: center;
  padding-bottom: 5rem;
}

.PortadaExpertos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ServiciosTitulo {
  text-align: center;
}

.Servicios {
  /*Columnas Servicios*/
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
}

.ServicioImagen {
  /*Imágenes de Servicios*/
  width: 50%;
}

.ServicioImagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Servicio {
  /*Nombre y descripción del Servicio*/
  width: 50%;
  padding: 11rem 5rem;
}

.SolicitaCotizacion {
  /*Apartado solicitar cotización*/
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  height: 12rem;
  background-image: url(Ala-avion.jpg);
}

.SolicCot {
  width: 50%;
  text-align: center;
  padding: 5rem;
}

.InfoContacto {
  width: 50%;
  padding: 3rem;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .Servicios {
    flex-direction: column;
    height: auto;
  }
  .ServicioImagen,
  .Servicio {
    width: 100%;
  }
  .SolicitaCotizacion {
    flex-direction: column;
    height: auto;
  }
  .SolicCot,
  .InfoContacto {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .PortadaExpertos {
    padding-bottom: 3rem;
  }
  .Servicio {
    padding: 6rem 2rem;
  }
  .SolicCot {
    padding: 3rem;
  }
  .InfoContacto {
    padding: 2rem;
  }
}
