/* Card Styles */
.card {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  width: 100%; /* cambia de 90% a 100% */
  max-width: 20rem; /* ajusta ligeramente el tamaño máximo */
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  overflow: visible;
}

.card img {
  width: 100%;
  height: auto; /* cambia de altura fija a altura automática */
  max-height: 12rem; /* añade para mantener control sobre altura máxima */
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 1rem;
}

.card-content h3 {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 0.625rem;
  line-height: 1.2;
  min-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-content .price {
  font-size: 1.5rem;
  color: #00aaff;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.card-content .duration {
  font-size: 0.875rem;
  color: #888;
}

/* Promo Badge */
.promo {
  position: absolute;
  top: 3%;
  left: -4%;
  background-color: #467be7;
  color: white;
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: bold;
  z-index: 10;
  display: inline-block; /* o flex/inline-flex */
  white-space: nowrap; /* evita que el texto haga salto de línea */
  min-width: 3rem; /* ancho mínimo para el badge */
}

.promo::after {
  content: "";
  position: absolute;
  bottom: -31%;
  right: 100%;
  transform: translateX(100%);
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-top: 0.8rem solid #233e74;
}

/* Media Queries */
@media (max-width: 48rem) {
  .card {
    max-width: 15rem; /* Ajusta a un tamaño más pequeño si es necesario */
  }

  .card img {
    max-height: 9rem; /* ajusta un poco más pequeño para móviles */
  }

  .card-content h3 {
    font-size: 1rem;
  }

  .card-content .price {
    font-size: 1.25rem;
  }

  .card-content .duration {
    font-size: 0.8rem;
  }

  .promo {
    top: -0.625rem;
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
  }

  .promo::after {
    bottom: -37%;
    right: 100%;
    transform: translateX(100%);
    border-left: 0.67rem solid transparent;
    border-top: 0.67rem solid #233e74;
  }
}
